.about{
    max-width:700px;
    margin:auto;
    h2{
        text-align: center;
        margin:1rem;
    }
    ol{
        li{
            line-height: 1.5;
            font-weight: 500;
            margin:2rem;
        }
    }
}