
.badge{
    padding:3px 10px 3px 10px;
    font-weight: bold;
    border-radius: 4px;
    display: inline-block;
    font-size:12px;
    margin:0 10px 0 0;
    p{
        letter-spacing: 1px;
        font-family: 'consolas' !important;
    }
}