.stats-header-main{
    border-bottom: 1px solid rgb(230, 230, 230);
    background-color: #fff;
    .stats-header{
        display:flex;
        justify-content: space-between;
        max-width:1400px;
        margin:auto;
        padding:10px;
        font-size:11px;
        .stats{
            display:flex;
            justify-content: space-between;
            align-items: center;
            width:800px;
            margin:auto;
            p{
                font-weight: 600;
                color:gray;
                span{
                    color:rgb(0, 119, 255);
                }
            }
        }
        .utils{
            display: flex;
            align-items: center;
            .icon{
                margin-left:10px;
            }
        }
    }
}
@media(max-width:1450px){
    .stats-header-main{
        .stats-header{
            max-width:1100px;
        }
    }
}
@media(max-width:1140px){
    .stats-header-main{
        .stats-header{
            max-width:800px;
        }
    }
}
@media(max-width:850px){
    .stats-header-main{
        .stats-header{
            max-width:600px;
            text-align: center;
        }
    }
}
@media(max-width:650px){
    .stats-header-main{
        // display: none;
        .stats-header{

        }
    }
}